{
/* Put the parameters that are different for each gateway here */
/* (eg. pointing one gateway to a test server while the others stay in production) */
/* Settings defined in global_conf will be overwritten by these in local_conf */
    "gateway_conf": {
        "gateway_ID": "CHANGE-ME", /* You must pick a unique 64 bit number for each gateway represented by an hex string. This can be based on the ethernet MAC address. */
        "contact_email" : "CHANGE-ME",
        "description": "CHANGE-ME",
        "servers": [
            {
                "serv_type": "ttn",
                "server_address": "<see TTN console>",
                "serv_gw_id": "<gateway name from console>",
                "serv_gw_key": "<gateway secret key from console>",
                "serv_enabled": true
            }
        ],
        "gps": true,
        "fake_gps": true,
        "ref_latitude": CHANGE-ME,   /* put your latitude here */
        "ref_longitude": CHANGE-ME,  /* put your longitude here */
        "ref_altitude": CHANGE-ME
    }
}
